<div class="card-box card">
    <div class="card-block">
        <div class="row">
        </div>

        <h4 class="text-dark  header-title m-t-0 m-b-30">>30 Day Pending Inventory Trending</h4>
        
        <div class=" widget-simple-chart text-right card-box chart-wrapper" style="height:300px;margin-top:40px;">
            <canvas id="card-chart3" class="chart" height="300"></canvas>
        </div>

    </div>
    <div class="card-footer card-box card">
        <ul>
            <li>
                <div class="text-muted">IND</div>
                <strong>29.703 Members (40%)</strong>
                <div class="progress progress-xs mt-2">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </li>
            <li class="hidden-sm-down">
                <div class="text-muted">Med Supp</div>
                <strong>22.123 Members (80%)</strong>
                <div class="progress progress-xs mt-2">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </li>
            <li class="hidden-sm-down">
                <div class="text-muted">SF</div>
                <strong>40.15%</strong>
                <div class="progress progress-xs mt-2">
                    <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </li>
            <li class="hidden-sm-down">
                <div class="text-muted">OTH</div>
                <strong>40.15%</strong>
                <div class="progress progress-xs mt-2">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </li>
            <li class="hidden-sm-down">
                <div class="text-muted">SG/LG</div>
                <strong>80.15%</strong>
                <div class="progress progress-xs mt-2">
                    <div class="progress-bar bg-primary" role="progressbar" style="width: 40%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </li>
        </ul>
    </div>
</div>



<div class="card-box card">
    <div class="card-block">
        <div class="row">
        </div>

        <h4 class="text-dark  header-title m-t-0 m-b-30">Total Pending Inventory Trending</h4>
        
        <div class=" widget-simple-chart text-right card-box chart-wrapper" style="height:300px;margin-top:40px;">
            <canvas id="card-chart2" class="chart" height="300"></canvas>
        </div>

    </div>
    <div class="card-footer card-box card">
        <ul>
            <li>
                <div class="text-muted">IND</div>
                <strong>29.703 Members (40%)</strong>
                <div class="progress progress-xs mt-2">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </li>
            <li class="hidden-sm-down">
                <div class="text-muted">Med Supp</div>
                <strong>22.123 Members (80%)</strong>
                <div class="progress progress-xs mt-2">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </li>
            <li class="hidden-sm-down">
                <div class="text-muted">SF</div>
                <strong>40.15%</strong>
                <div class="progress progress-xs mt-2">
                    <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </li>
            <li class="hidden-sm-down">
                <div class="text-muted">OTH</div>
                <strong>40.15%</strong>
                <div class="progress progress-xs mt-2">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </li>
            <li class="hidden-sm-down">
                <div class="text-muted">SG/LG</div>
                <strong>80.15%</strong>
                <div class="progress progress-xs mt-2">
                    <div class="progress-bar bg-primary" role="progressbar" style="width: 40%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </li>
        </ul>
    </div>
</div>