.current {
  position: absolute;
  color: #bbb;
  font-weight: 500;
  line-height: 0;
}

.mdl-card_text-goal {
            color: rgba(255,255,255, 1);
    font-size: 0.85rem;
    line-height: 18px;
    overflow: hidden;
    padding: 16px 16px;
    width: 90%;
    bottom: 0;
    }