<div class="card-box card" mdl-shadow="8">
                        <div class="card-block">
                            <h4 class="text-dark  header-title m-t-0 m-b-30">Claims Ageing - By Market Segment</h4>
                            
                              <!--  <div class="col-sm-5">
                                    <h4 class="card-title mb-0">Traffic</h4>
                                    <div class="small text-muted">November 2015</div>
                                </div> -->
                                
                                <table class="mdl-data-table mdl-js-data-table" mdl-shadow="8">
                                        <thead class="thead-inverse">
                                            <tr>
                                                <th class="text-center"> Date</th>
                                                <th>LOB</th>
                                                <th class="text-center">Total Recipts</th>
                                                <th>XC Pending</th>
                                                <th class="text-center">Workflow</th>
                                                <th>FirstPass</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-center">
                                                    <div >
                                                        12-7-2017
                                                    </div>
                                                </td>
                                                <td>
                                                    <div>Large Group</div>
                                               </td>
                                                <td class="text-center">
                                                     <div >
                                                        34,560
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                     <div >
                                                        23,456
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                     <div >
                                                        1060
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                     <div >
                                                        98%
                                                    </div>
                                                </td>
                                               </tr>
                                            
                                              <tr>
                                                <td class="text-center">
                                                    <div >
                                                        11-7-2017
                                                    </div>
                                                </td>
                                                <td>
                                                    <div>Large Group</div>
                                               </td>
                                                <td class="text-center">
                                                     <div >
                                                        34,560
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                     <div >
                                                        23,456
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                     <div >
                                                        1060
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                     <div >
                                                        98%
                                                    </div>
                                                </td>
                                               </tr>
                                              <tr>
                                                <td class="text-center">
                                                    <div >
                                                        10-7-2017
                                                    </div>
                                                </td>
                                                <td>
                                                    <div>Large Group</div>
                                               </td>
                                                <td class="text-center">
                                                     <div >
                                                        34,560
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                     <div >
                                                        23,456
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                     <div >
                                                        1060
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                     <div >
                                                        98%
                                                    </div>
                                                </td>
                                               </tr>
                                              <tr>
                                                <td class="text-center">
                                                    <div >
                                                        09-7-2017
                                                    </div>
                                                </td>
                                                <td>
                                                    <div>Large Group</div>
                                               </td>
                                                <td class="text-center">
                                                     <div >
                                                        34,560
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                     <div >
                                                        23,456
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                     <div >
                                                        1060
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                     <div >
                                                        98%
                                                    </div>
                                                </td>
                                               </tr>
                                              <tr>
                                                <td class="text-center">
                                                    <div >
                                                        08-7-2017
                                                    </div>
                                                </td>
                                                <td>
                                                    <div>Large Group</div>
                                               </td>
                                                <td class="text-center">
                                                     <div >
                                                        34,560
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                     <div >
                                                        23,456
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                     <div >
                                                        1060
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                     <div >
                                                        98%
                                                    </div>
                                                </td>
                                               </tr>
                                              <tr>
                                                <td class="text-center">
                                                    <div >
                                                        07-7-2017
                                                    </div>
                                                </td>
                                                <td>
                                                    <div>Large Group</div>
                                               </td>
                                                <td class="text-center">
                                                     <div >
                                                        34,560
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                     <div >
                                                        23,456
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                     <div >
                                                        1060
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                     <div >
                                                        98%
                                                    </div>
                                                </td>
                                               </tr>
                                                  
                                        </tbody>
                                    </table>
                                
                                <!--/.col-->
                                
                                <!--/.col-->
                            </div>
                            <!--/.row-->
                        </div>
                    