::-webkit-scrollbar {
    width: 3px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(3,169,244,0.4); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(3,169,244,0.4); 
}


.mat-select-trigger {
    display: flex;
    align-items: center;
    height: 30px;
    width: 200px;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    color: #03A9F4;
    font-size: 14px;
}

.mat-select-value-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 30px;
    color: #fff;
}

.mat-select-underline {
    background-color: rgba(255, 255, 255, 0.77);
}



.mat-datepicker-content {
    background-color: #323b44;
    color: rgb(253, 253, 253);
}

.mat-calendar-body-cell-content {
    color: rgba(255, 255, 255, 0.87);
    border-color: transparent;
}

.mat-calendar-table-header th {
    text-align: center;
    padding: 0 0 8px 0;
    color: #03A9F4;
}

.mat-calendar-body-label {
    color: #03A9F4;
}

.mat-calendar-arrow {
    border-top-color: rgba(255, 251, 251, 0.98);
}

.mat-calendar-body-selected {
    background-color: #03A9F4;
    color: rgba(255,255,255,.87);
}
.mat-calendar-body-disabled>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected) {
    color: rgba(255, 207, 207, 0.38);
}

.mat-option.mat-selected.mat-primary, .mat-primary .mat-option.mat-selected {
    color: #03A9F4;
    // color: #ff4081;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #03A9F4;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #03A9F4;
}


.mat-calendar-table-header-divider::after {
    background: rgba(255, 255, 255, 0.12);
}

.mat-paginator-page-size-select .mat-select-trigger {
    width: 56px;
}

.mat-select:focus:not(.mat-select-disabled).mat-primary .mat-select-arrow, .mat-select:focus:not(.mat-select-disabled).mat-primary .mat-select-trigger {
    color: #03a9f4;
}
.mat-select:focus:not(.mat-select-disabled).mat-primary .mat-select-underline {
    background-color: #03a9f4;
}

.mat-select-content, .mat-select-panel-done-animating {
    background: #323b44;
}

.mat-option {
    color: rgba(255, 255, 255, 0.87);
    font-size: 12px;
}

.mdl-switch.is-checked .mdl-switch__thumb {
    background: rgb(8, 154, 220);
    left: 16px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
}

.mdl-switch.is-checked .mdl-switch__track {
    background: rgba(8, 154, 220, 0.5);
}

.mdl-switch__ripple-container .mdl-ripple {
    background: rgba(8, 154, 220,0.75);
}

.mat-fab.mat-accent, .mat-mini-fab.mat-accent, .mat-raised-button.mat-accent {
    background-color: #03a9f4;
}


//LOGOUT
.mdl-menu__container.is-visible .mdl-menu__outline {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    z-index: 999;
    background-color: #323b44;
}

//option
.mat-option.mat-selected:not(.mat-option-multiple) {
    background: rgba(0,0,0,.1);
}
.mat-option:focus:not(.mat-option-disabled), .mat-option:hover:not(.mat-option-disabled) {
    background: rgba(0,0,0,.1);
}
.mdl-menu__item:hover {
    background-color: rgba(0,0,0,0.1);
}
.mdl-menu__item {
    color: rgba(255, 255, 255, 0.87);
}


.mat-form-field-underline {
    background-color: rgba(255, 255, 255, 0.42) !important;
}

.mat-select-arrow {
    color: #fff;
}

.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-placeholder, .mat-form-field-empty.mat-form-field-placeholder {
  
    color: #03a9f4;
}


.mat-menu-panel {
    background: #323b44 !important;
}
.mat-menu-item {
    background: 0 0;
    color: rgb(255, 255, 255);
    font-size: 14px;
}

.mat-checkbox-layout .mat-checkbox-label {
    color: #fff !important;
    font-size: 14px !important;
}

.mat-checkbox-frame {
    border-color: rgba(255, 255, 255, 0.54);
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #089adc;
}

.mat-fab.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary {
    background-color: #089adc;
}

.mat-accent .mat-checkbox-ripple .mat-ripple-element {
background-color: mat-color(#089adc, 0.26);
}

.mat-option.mat-selected.mat-primary, .mat-primary .mat-option.mat-selected {
    color: #03A9F4 !important;
}

dp-month-calendar.dp-material .dp-calendar-month {
    box-sizing: border-box;
    background: #323b44 !important;
    border-radius: 50%;
    border: none;
    outline: none;
}

dp-month-calendar.dp-material .dp-calendar-wrapper {
    border: 1px solid #323b44 !important;
    background: #323b44 !important;
}

dp-month-calendar.dp-material .dp-calendar-month {
    color: rgba(255, 255, 255, 0.87) !important;
    text-transform: uppercase !important;
    font-size: smaller !important;
    font-weight: 200 !important;
}

.dp-popup {
    position: relative;
    background: #323b44 !important;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.84)!important;
    border-left: 1px solid rgb(50, 59, 68) !important;
    border-right: 1px solid rgb(50, 59, 68) !important;
    border-bottom: 1px solid rgb(50, 59, 68) !important;
    z-index: 9999;
    white-space: nowrap;
}

dp-calendar-nav .dp-nav-header {
    font-size: 15px !important;
    color: #fff;
}

dp-calendar-nav .dp-calendar-nav-container {
    background: #323b44 !important;
}

dp-calendar-nav.dp-material .dp-calendar-nav-container {
    height: 70px !important;
    width: 250px;
    border-top: 1px solid #323b44 !important;
    border-left: 1px solid #323b44 !important;
    border-right: 1px solid #323b44 !important;
    border-bottom: 1px solid #ffffff59 !important;
}

dp-calendar-nav .dp-current-location-btn {
    position: relative;
    top: -1px;
    height: 16px;
    width: 16px;
    vertical-align: middle;
    background: rgb(255, 255, 255) !important;
    border: 1px solid rgb(255, 255, 255) !important;
    outline: none;
    border-radius: 50%;
    box-shadow: inset 0 0 0 3px #323b44 !important;
    cursor: pointer;
}


dp-calendar-nav.dp-material .dp-calendar-nav-left, dp-calendar-nav.dp-material .dp-calendar-nav-right, dp-calendar-nav.dp-material .dp-calendar-secondary-nav-left, dp-calendar-nav.dp-material .dp-calendar-secondary-nav-right {
    border: none;
    background: #323b44 !important;
    outline: none;
    font-size: 14px !important;
    padding: 0;
}

dp-calendar-nav .dp-calendar-nav-left::before {
    border-color: #fff !important;
}
dp-calendar-nav .dp-calendar-nav-right::before {
    border-color: #fff !important;
}
dp-date-picker.dp-material .dp-picker-input {
   // visibility: hidden !important;
}

dp-month-calendar {
    margin: 10px !important;
}
