<div class="card-box card" mdl-shadow="8">
    <div class="card-block">
        <h4 class="text-dark  header-title m-t-0 m-b-30">Pending Inventory History</h4>

        <!--  <div class="col-sm-5">
                                    <h4 class="card-title mb-0">Traffic</h4>
                                    <div class="small text-muted">November 2015</div>
                                </div> -->

        <table class="mdl-data-table mdl-js-data-table" mdl-shadow="8">
            <thead class="thead-inverse">
                <tr> <th class="text-center" colspan="10"> Market Segments</th> </tr>
                <tr>
                    <th class="text-center"> Date</th>
                    <th class="text-center"> 1-3</th>
                    <th class="text-center">4-7</th>
                    <th class="text-center">8-14</th>
                    <th class="text-center">15-21</th>
                    <th class="text-center">22-29</th>
                    <th class="text-center">30-59</th>
                    <th class="text-center">60-90</th>
                    <th class="text-center"> > 90</th>
                    <th class="text-center">Total Inventory</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>

        <!--/.col-->

        <!--/.col-->
    </div>
    <!--/.row-->
</div>


<div class="card-box card" mdl-shadow="8">
    <div class="card-block">
        <h4 class="text-dark  header-title m-t-0 m-b-30">Over 30 Days Pending Inventory Trending</h4>

        <!--  <div class="col-sm-5">
                                    <h4 class="card-title mb-0">Traffic</h4>
                                    <div class="small text-muted">November 2015</div>
                                </div> -->

        <table class="mdl-data-table mdl-js-data-table" mdl-shadow="8">
            <thead class="thead-inverse">
                <tr>
                    <th class="text-center"> Sum of > 30 Days</th>
                    <th class="text-center" colspan="6"> Market Segments</th>
                </tr>
                <tr>
                    <th class="text-center"> Date</th>
                    <th class="text-center"> IND</th>
                    <th class="text-center">FI - LG/SG</th>
                    <th class="text-center">MedSupp</th>
                    <th class="text-center">OTH</th>
                    <th class="text-center">SF</th>
                    <th class="text-center">Total</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>

        <!--/.col-->

        <!--/.col-->
    </div>
    <!--/.row-->
</div>        



<div class="card-box card" mdl-shadow="8">
    <div class="card-block">
        <h4 class="text-dark  header-title m-t-0 m-b-30">Total Inventory Pending</h4>

        <!--  <div class="col-sm-5">
                                    <h4 class="card-title mb-0">Traffic</h4>
                                    <div class="small text-muted">November 2015</div>
                                </div> -->

        <table class="mdl-data-table mdl-js-data-table" mdl-shadow="8">
            <thead class="thead-inverse">
                <tr>
                    <th class="text-center"> Sum of Total Pending</th>
                    <th class="text-center" colspan="6"> Market Segments</th>
                </tr>
                <tr>
                    <th class="text-center"> Date</th>
                    <th class="text-center"> IND</th>
                    <th class="text-center">FI - LG/SG</th>
                    <th class="text-center">MedSupp</th>
                    <th class="text-center">OTH</th>
                    <th class="text-center">SF</th>
                    <th class="text-center">Total</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>

        <!--/.col-->

        <!--/.col-->
    </div>
    <!--/.row-->
</div>