<div class="animated fadeIn">

  <h5 class="header" style="margin-top:2rem"> Settings </h5>

         <div class="mdl-grid">
                    <mat-card>

                      <em style="font-size: 14px;color:#fff">Select the SLA's to be displayed in the Dashboard Screen</em>
                        
                        <div style="margin-top: 20px;margin-left: 20px">
                        
                        <mat-checkbox>Claims First Pass Rate</mat-checkbox><br /> 
                        <mat-checkbox>Members First Pass Rate</mat-checkbox><br /> 
                        <mat-checkbox>Group First Pass Rate</mat-checkbox><br /> 
                        <mat-checkbox>Late Fees</mat-checkbox><br /> 
                        <mat-checkbox>Provider/Network Admin</mat-checkbox><br /> 
                        <mat-checkbox>Authorization Claim Matching</mat-checkbox><br /> 
                        <mat-checkbox>Last Minute Benefit</mat-checkbox><br /> 
                        <mat-checkbox>Authorization First Pass Rate</mat-checkbox><br /> 

                        </div>

                         <div style="margin-top: 20px;margin-left: 20px">

                              <button mat-raised-button >Save</button>

                         </div>

                    </mat-card>
                 
         </div>
         
</div>
